// Font property
$font-fam-1: 'Prompt', sans-serif;
$font-fam-2: 'Open Sans', sans-serif;
$font-size: 14px;

// Color property
$color-main-1: #ED2F59;
$color-main-2: #FFFFE7;
$color-main-3: rgba(237, 47, 89, 0.8);
$color-main-4: rgba(255, 255, 231, 0.5);
$color-main-5: rgba(255, 255, 255, 0.9);
$color-main-6: rgba(37, 37, 37, 0.05);
$color-shade-1: #FFFFFF;
$color-shade-2: #DEDEDE;
$color-shade-3: #9A9A9A;
$color-shade-4: #787878;
$color-shade-5: #252525;
