.list-group{
  border-radius: 0px;
  .list-group-item{
    border-radius: 0px;
    .list-group-item-heading{
      color: $color-main-1;
      font-weight: bold;
    }
    .list-group-item-date{
      color: $color-shade-4;
    }
    .list-group-item-text{
      margin-top: 20px;
    }
  }
}
