.list-group{
  border-radius: 0px;
  .list-group-item{
    border-radius: 0px;
    .list-group-item-heading{
      color: $color-main-1;
      font-weight: bold;
    }
    .list-group-item-date{
      color: $color-shade-4;
    }
    .list-group-item-text{
      margin-top: 20px;
    }
  }
  &.transparent{
    background: transparent;
    .list-group-item{
      background: transparent;
      .thumbnail,
      a.thumbnail{
        padding: 0px;
        margin: 0px;
        .cover{
          @include transition(all, ease-in, 0.2s);
        }
        &:hover, &:focus{
          .cover{
            background: $color-main-6;
          }
        }
      }
    }
  }
}
